@using Microsoft.AspNetCore.Authorization
@using EmployeeWebApplication.Authorization
@inject IAuthorizationService _authorizationService
@model IEnumerable<EmployeeWebApplication.Models.Employee>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1>Employees</h1>

    @{
        if ((await _authorizationService.AuthorizeAsync(User, new Employee(), EmployeeOperations.Create)).Succeeded)
        {
            <a class="inline" asp-action="Create">Create</a>
        }

        if ((await _authorizationService.AuthorizeAsync(User, new Employee(), EmployeeOperations.DownloadAllEmployees)).Succeeded)
        {
            <a class="inline" asp-action="Export Database">Export Database</a>
        }
    }
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @{
                        if ((await _authorizationService.AuthorizeAsync(User, item, EmployeeOperations.Update)).Succeeded)
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        }

                        if ((await _authorizationService.AuthorizeAsync(User, item, EmployeeOperations.Read)).Succeeded)
                        {
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                        }

                        if ((await _authorizationService.AuthorizeAsync(User, item, EmployeeOperations.Delete)).Succeeded)
                        {
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
